@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:wght@300&display=swap');

/*------ Site-wide styling -----*/

html {
    scroll-behavior: smooth;
}

main {
    flex: 1 0 auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h3 {
    margin: 25px 0;
}

h4 {
    margin-top: 15px;
    margin-bottom: 10px;
}

/*------ Navbar Styling -----*/

li.active {
    background: #ffab40 !important;
}

.dropdown-trigger:focus {
outline: none;
}

nav ul li:hover {
    background-color: #26a69a !important;
}

#dropdown1 a {
    font-size: 14px;
    color: #fff;
    width: 100%;
}

#dropdown1 {
    background-color: #000;
}

nav.nav-center ul li a.btn:hover {
    transition: 0.2s ease-in-out;
    background: #ffab40 !important;
}

.nav-center .nav-wrapper li .fas {
    transform: translateY(3px);
}


.sidenav li:hover {
    transition: 0.2s ease-in-out;
    background-color: #26a69a;
}

.dropdown-trigger .fas{
    padding: 0 12px;
    font-size: 20px;
}

.dropdown {
    float: right;
}

.nav-wrapper .center-align {
    margin: 0;
    padding-top: 10px;
}

@media (max-width: 500px) {
    .nav-wrapper .center-align {
        padding-top: 0px;
    }
}

.dropdown-content {
  top: 100% !important;
}

.dropdown-content li {
    text-align: center;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
    padding: 5px 0px;
    border-radius: 2px;
}
nav.nav-center ul li a {
    display: inline-block;
}

nav .brand-logo {
    position: unset;
    display: unset;
    font-size: 45px;
    font-family: 'Bungee', sans-serif;
    font-weight: 300;
}

@media (max-width: 992px) {
    nav .brand-logo {
        margin-left: 60px;
    }
}

@media (max-width: 500px) {
    nav .brand-logo {
        margin-left: 15px;
        font-size: 26px;
        float: left;
        transform: unset;
    }
}

@media (max-width: 320px) {
    nav .brand-logo {
        margin-left: 10px;
        font-size: 22px;
    }
}


/*------ Flash Messages -----*/

#flash-message {
    margin-bottom: 6px;
}

/*------ Hero Img -----*/

.hero-img {
    position: relative;
    object-fit: cover;
    object-position: 0 30%;
    width: 100%;
    height: 700px;
}

@media (max-width: 991px) {
    .hero-img {
        height: 600px;
    }
}

@media (max-width: 500px) {
    .hero-img {
        height: 520px;
    }
}

/*------ Testimonial quotes -----*/

.quotes {
    position: absolute;
    color: white;
    top: 32%;
    left: 5%;
    z-index: 10;
}

@media (max-width: 991px) {
    .quotes {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .quotes {
        width: 90%;
    }
}

.quote-list li {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

/*------ Footer -----*/

footer ul li{
  display: inline;
  font-size: 35px;
  margin-right: 10px;
  margin-left: 5px;
}

.social-links li i:hover {
    transition: 0.2s ease-in-out;
    color: #26a69a;
}

/*------ Home Page -----*/

.icon-banner {
    background-color: #26a69a;
    margin: 35px 0px;
    padding-bottom: 15px;
    width: 100%;
}

.icon-banner h4 {
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
}

.icon-banner .row p {
    font-size: 18px;
}

.about p {
    font-size: 18px;
}

.icon-banner i {
    height: 75px;
    width: 75px;
    font-size: 32px;
    text-align: center;
    border-radius: 50%;
    padding: 20px 0px;
    border:2px solid black;
}

.divider {
    height: 4px !important;
    width: 100px !important;
    background-color: #ffab40 !important;
    margin-bottom: 15px !important;
    margin: auto;
}

/*------ Contact Form -----*/

#contact h6 {
    font-size: 18px;
}

/*------ Modals -----*/

.modal {
    width: 65%;
    overflow-y: visible;
}

@media (min-width: 991px) {
    .modal {
    width: 50%;
    }
}

@media (min-width: 1280px) {
    .modal {
    width: 40%;
    }
}

.modal .modal-content {
    padding-bottom: 0px;
    height: 100%;
}

@media (max-width: 500px) {
    .modal .modal-content {
        padding: 10px;        
    }
}

@media (max-width: 500px) {
    .modal {
        width: 95%; 
        height: 70%;       
    }
}

@media (max-width: 500px) {
    #delete-booking-modal, #delete-post-modal {
        height: 50px;
    }
}



/*------ Rehearsal Studios -----*/

.right-arrow {
    height: 24px !important;
    cursor: pointer;
}

.left-arrow {
    height: 24px !important;
    cursor: pointer;
}

.slider .indicators .indicator-item {
    display: none;
}

.space {
    margin-bottom:  30px;
    margin-top: 20px;
}

.image-nav {
    z-index: 5000;
    top: 50%;
}

.image-nav .fas {
    font-size: 24px;
    margin: 10px 0;
}

.price {
    color: white;
    background-color: #26a69a;
    padding: 1px 3px;
    border-radius: 2px;
}

.card .card-image .card-title {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

/*------ FAQ Page -----*/

.collapsible-body {
    border-bottom: 0px;
}

.collapsible-header i {
    font-size: 16px;
    margin: 0;
    margin-top: 3px;
}
.collapsible-header {
    display: block;
}

ul.collapsible {
    margin: 30px 0px;
}

/*------ Bookings Page -----*/

.booking-blurb {
    margin: 25px 50px;
}

.booking-heading {
    margin-top: 0;
}

/*------ Profile Page -----*/

.card-content .divider {
    width: 100% !important;
}

.card {
    margin: 10px 0;
}

.card .card-content {
    padding: 5px;
}

.card .card-content p {
    padding: 0 10px
}

.details {
    margin-bottom: 10px;
}

.tabs .tab {
    width: 40px;
    margin: 0 8px;
}

.card-tabs .tabs {
    background-color: #26a69a;
    position: absolute;
    bottom: 53px;
    left: 0;
}

.card-content .tabs {
    position: absolute;
    bottom: 7px;
    left: 0;
}

.card-content i {
    color: #26a69a;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    cursor: pointer;
}

.out-of-date {
    color: red;
}
/*------ Notice Board -----*/

.collection .collection-item.avatar p {
    margin: 25px 0px;
}

.collection-item .title {
    width: 80%;
    display: inline-block;
}

.collection .avatar .btn-small {
    width: 25px;
    height: 25px;
    padding: 0;
    line-height: 25px;
}

.fa-exclamation-circle:before {
    color: #ffab40;
    margin-bottom: 10px;
}

.user-post {
    font-style: italic;
    font-size: 14px;
    background-color: #dbdbdb;
}

.pagination i {
    font-size: 20px;
    padding: 4px 3px;
    display: inline;
    color: #ffab40;
    height: 25px;
    width: 45px;
    border-radius: 3px;
}

.pagination p {
    font-size: 18px;
    display: inline;
    padding: 0 10px;
}

/*------ Confirmation Modal -----*/

.modal .modal-footer i {
    font-size: 20px;
}

.modal .modal-footer {
    padding-right: 12px;
}

/*------ Add post -----*/

div.switch {
    margin-top: 8px;
}

/*------ 404 error page -----*/

.error-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 25px;
}