{% extends "base.html" %}
{% block content %}

<!-- 404 error page -->

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h4 class="center align"><i class="fas fa-exclamation-triangle"></i> The page you were looking for cannot be found... </h4>
            <div class="divider"></div>
        </div>
    </div>
</div>
<div class="container error-container valign-wrapper">
    <div class="col">
        <h6 class="center align">Return to <a href="{{ url_for('home') }}">Home Page</a></h6>
    </div>
</div>


{% endblock %}