{% extends "base.html" %}
{% block nav_bookings %}active{% endblock %}
{% block nav_bookings_mobile %}active{% endblock %}
{% block nav_dropdown %}active{% endblock %}
{% block content %}

<h4 class="center align" id="bookings">Bookings</h4>
<div class="divider"></div>
<div class="container">
    <div class="row center">
        <div class="col m6 s12">
            <h5 class="booking-heading">How to make a booking:</h5>
            <p class="booking-blurb">
                Fill in the form to check the availability of a specific date & room.
                If the day and slot you're looking for is available then proceed to fill in the booking form below.
                Once you've made your booking it will appear on your profile.
                If you'd like to edit or cancel your booking you can do so from your profile page.
            </p>

        </div>
        <form class="col m6 s12" method="POST" action="{{ url_for('check_availability') }}">
            <div class="row">
                <div class="input-field col l6 m12 s12">
                    <input type="text" class="datepicker" id="date" name="date" placeholder="Date" required>
                </div>
                <div class="input-field col l6 s12 m12">
                    <select class="icons" id="slot" name="slot" required="required">
                        <option value="" disabled selected>Time</option>
                        <option value="Morning">Morning 10:00 - 14:00</option>
                        <option value="Afternoon">Afternoon 14:00 - 18:00</option>
                        <option value="Evening">Evening 18:00 - 22:00</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-small waves-light text-shadow">
                            Check Availability <i class="far fa-calendar-check right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('new_booking') }}">
            <!-- Post Title -->
            <div class="row">
                <div class="input-field col s12 m4">
                    <input type="text" class="datepicker" id="booking-date" name="booking-date" placeholder="Date" required>
                </div>

                <div class="input-field col s12 m4">
                    <select class="icons" id="studio" name="studio" required>
                        <option value="" disabled selected>Studio</option>
                        <option value="1">Studio 1 (£15ph)</option>
                        <option value="2">Studio 2 (£10ph)</option>
                        <option value="3">Studio 3 (£10ph)</option>
                    </select>
                </div>
                <div class="input-field col s12 m4">
                    <select class="icons" id="time-slot" name="time-slot" required>
                        <option value="" disabled selected>Time</option>
                        <option value="Morning">Morning 10:00 - 14:00</option>
                        <option value="Afternoon">Afternoon 14:00 - 18:00</option>
                        <option value="Evening">Evening 18:00 - 22:00</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="contact_name" type="text" name="contact_name" minlength="5" maxlength="50"
                        class="validate" required>
                    <label for="contact_name">Contact/Artist Name</label>
                </div>
            </div>
            <!-- task description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="additional_info" name="additional_info" minlength="5" maxlength="250"
                        class="materialize-textarea validate"></textarea>
                    <label for="additional_info">Additional Information</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn waves-light text-shadow">
                        Submit Booking <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}