{% extends "base.html" %}
{% block content %}

<h4 class="center align">Edit Post</h4>
<div class="divider"></div>

<div class="container">
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_post', post_id=post._id) }}">
            <!-- Post Title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="post_title" type="text" name="post_title" minlength="5" maxlength="50" class="validate"
                        value="{{ post.post_title }}" required>
                    <label for="post_title">Post Title</label>
                </div>
            </div>
            <!-- Post Category -->
            <div class="row">
                <div class="input-field col s12 center-align">
                    <h6>Category:</h6>
                    <p>
                        <label for="jobs">
                            <input class="with-gap" id="jobs" value="jobs" name="category" type="radio" checked />
                            <span>Jobs</span>
                        </label>
                        <label for="for-sale">
                            <input class="with-gap" id="for-sale" value="for-sale" name="category" type="radio" />
                            <span>For Sale</span>
                        </label>
                        <label for="community">
                            <input class="with-gap" id="community" value="community" name="category" type="radio" />
                            <span>Community</span>
                        </label>
                    </p>
                </div>
            </div>
            <!-- Post Message -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="post_message" name="post_message" minlength="5" maxlength="500"
                        class="materialize-textarea validate" required></textarea>
                    <label for="post_message">Message</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-envelope prefix"></i>
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Contact Email</label>
                </div>
            </div>
            <!-- is urgent -->
            <div class="row">
                <div class="input-field col s12">
                    <!-- Switch -->
                    <div class="switch">
                        <i class="fas fa-exclamation-circle prefix"></i>
                        <label for="is_urgent">
                            {% if post.is_urgent == "on" %}
                            <input type="checkbox" id="is_urgent" name="is_urgent" checked>
                            {% else %}
                            <input type="checkbox" id="is_urgent" name="is_urgent">
                            {% endif %}
                            <span class="lever"></span>
                            Is Urgent
                        </label>
                    </div>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('notice_board') }}" class="btn text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn text-shadow">
                        Update Post <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}