{% extends "base.html" %}
{% block nav_faq %}active{% endblock %}
{% block nav_faq_mobile %}active{% endblock %}
{% block content %}

<div class="container">
    <h4 class="black-text center align" id="faq">FAQ</h4>
    <div class="divider"></div>
    <h6 class="center-align">Below are some of our most frequently asked questions. If you can't find the answers you're
        looking for then please get in touch via our <a href="{{ url_for('home', _anchor='contact_form') }}">Contact Form</a>.</h6>


    <ul class="collapsible popout">
        <li>
            <div class="collapsible-header"><i class="fas fa-ellipsis-v secondary-content right"></i>
                How do I find the studio?
            </div>
            <div class="collapsible-body">
                <span>The address for the studio can be found in the footer of this website. Pop the postcode into the
                    satnav and you're good to go!</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-ellipsis-v secondary-content"></i>
                How do I make a booking?
            </div>
            <div class="collapsible-body">
                <span>Firstly you'll have to register which can be done by clicking the "Register" link at the top of the page.
                    Once you've done this you'll see a new user icon appear with a "Bookings" link.
                    Check availability on the calendar and then fill in the form once you've decided what date and slot you'd like!</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-ellipsis-v secondary-content"></i>
                How do I change a booking?
            </div>
            <div class="collapsible-body">
                <span>You can change an existing booking by loggin in and heading to your profile page.
                All current bookings will be displayed here, where you will have the option to edit or cancel your booking.</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-ellipsis-v secondary-content"></i>
                What are your opening hours?
            </div>
            <div class="collapsible-body">
                <span>Our opening hours are from 10am till 10pm every day of the week!</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-ellipsis-v secondary-content"></i>
                Do you have WiFi?
            </div>
            <div class="collapsible-body">
                <span>Yes! WiFi is available in all 3 studios and the kitchen area.
                The login details and password are displayed in the kitchen area on our black board.</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-ellipsis-v secondary-content"></i>
                Do you have car parking?
            </div>
            <div class="collapsible-body">
                <span>Yes! There is space in front of the studio rooms for unloading and then another parking area directly accross for multiple vehicles.</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-ellipsis-v secondary-content"></i>
                What type of equipment do you have?
            </div>
            <div class="collapsible-body">
                <span>All our rooms are equipped with 2 guitar amps (Marshall and Fender), a bass amp (TC Electronic) & drum kit (Pearl). 
                Our microphones are Shure SM58s and the PA system is all Yamaha.</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-ellipsis-v secondary-content"></i>
                What shall I do if equipment breaks?
            </div>
            <div class="collapsible-body">
                <span>In the unlikely event that our equipment fails, simply contact our in-house technician direct on 07123456789. 
                All our technicians are ready to help during our opening hours and will either fix or replace the item in question.</span>
            </div>
        </li>
    </ul>
</div>

{% endblock %}