{% extends "base.html" %}
{% block nav_home %}active{% endblock %}
{% block nav_home_mobile %}active{% endblock %}
{% block content %}

<!-- Contact form successful submission modal -->

<!-- Modal Structure -->
<div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Thank You!</h4>
        <p>Your contact form submission was a SUCCESS</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<!-- Contact form submission error modal -->

<div id="modal3" class="modal">
    <div class="modal-content">
        <h4>Error...</h4>
        <p>Unfortunately there has been an error with your submission! Please try again later.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<div class="container">
    <h4 class="center align" id="home">Welcome!</h4>
    <div class="divider"></div>
    <div class="row">
        <div class="col about center-align">
            <p>
                <strong>Headroom Studios</strong> consists of three professionally spec’d rehearsal rooms and is run by
                musicians for musicians.

                Each room is soundproofed and has a top of the range PA system including three separate monitor mixes.
                Backline hire is
                included at no extra charge and consists of a Drum kit (including cymbals), Bass Amp, and 2 x guitar
                Amps.<br><br>

                The rooms are clean, large and comfortable giving artists the perfect atmosphere to express
                themselves..<br>

                The studio is positioned near the center of the beautiful Wiltshire town, Chippenham. The location is
                around
                a 5min walk
                from all the local shops and amenities and only a 10min walk to the local trainstation which has links
                to Bath, Bristol and London!<br>
            </p>
        </div>
    </div>
</div>

<div class="icon-banner">
    <div class="row container">
        <h4 class="center-align">Why Choose Us?</h4>
        <div class="col l4 m4 s12 center-align">
            <i class="fas fa-music z-depth-2"></i>
            <p>Chippenham's most popular<br> rehearsal studio</p>
        </div>
        <div class="col l4 m4 s12 center-align">
            <i class="fas fa-microphone z-depth-2"></i>
            <p>State of the art equipment<br> that won't let you down</p>
        </div>
        <div class="col l4 m4 s12 center-align">
            <i class="fas fa-coffee z-depth-2"></i>
            <p>Somewhere to make a tea<br> or coffee</p>
        </div>
    </div>
    <div class="row container">
        <div class="col l4 m4 s12 center-align">
            <i class="fas fa-lightbulb z-depth-2"></i>
            <p>Adjustable lighting to suite<br> your creative mood</p>
        </div>
        <div class="col l4 m4 s12 center-align">
            <i class="fas fa-user-friends z-depth-2"></i>
            <p>Friendly staff to help you get<br> the most out of your session</p>
        </div>
        <div class="col l4 m4 s12 center-align">
            <i class="fas fa-theater-masks z-depth-2"></i>
            <p>Artist development and local<br> showcase events</p>
        </div>
    </div>
</div>

<div class="container" id="contact">
    <h4 class="text-black center align">Contact</h4>
    <div class="divider"></div>
    <h6 class="center-align">For any queries please fill out the form below and we'll get back to you ASAP.</h6>
    <div class="row">
        <form class="col s12" id="contact_form">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" name="first_name" type="text" class="validate" required>
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" name="last_name" type="text" class="validate" required>
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-envelope prefix"></i>
                    <input id="email_address" name="email_address" type="email" class="validate" required>
                    <label for="email_address">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea id="message" name="message" class="materialize-textarea" data-length="240" required></textarea>
                    <label for="message">Message</label>
                </div>
            </div>
            <div class="row center-align">
                <button class="btn-small waves-effect waves-light" type="submit" name="action">Send
                    <i class="fas fa-paper-plane right"></i>
                </button>

            </div>
        </form>
    </div>
</div>

{% endblock %}