{% extends "base.html" %}
{% block content %}

<div class="container">
    <h4 class="center align">Welcome!</h4>
    <div class="divider"></div>
    <div class="row">
        <div class="col about center-align">
            <p>
                <strong>Headroom Studios</strong> consists of three professionally spec’d rehearsal rooms and is run by
                musicians for musicians.

                Each room is soundproofed and has a top of the range PA system including three separate monitor mixes.
                Backline hire is
                included at no extra charge and consists of a Drum kit (including cymbals), Bass Amp, and 2 x guitar
                Amps.<br><br>

                The rooms are clean, large and comfortable giving artists the perfect atmosphere to express
                themselves..<br>

                The studio is positioned near the center of the beautiful Wiltshire town, Chippenham. The location is
                around
                a 5min walk
                from all the local shops and amenities and only a 10min walk to the local trainstation which has links
                to Bath, Bristol and London!<br>
            </p>
        </div>
    </div>
</div>

<div class="icon-banner">
    <div class="row container">
        <h4 class="center-align">Why Choose Us?</h4>
        <div class="col l4 m4 s12 center-align">
            <i class="fas fa-music z-depth-2"></i>
            <p>Chippenham's most popular<br> rehearsal studio</p>
        </div>
        <div class="col l4 m4 s12 center-align">
            <i class="fas fa-microphone z-depth-2"></i>
            <p>State of the art equipment<br> that won't let you down</p>
        </div>
        <div class="col l4 m4 s12 center-align">
            <i class="fas fa-coffee z-depth-2"></i>
            <p>Somewhere to make a tea<br> or coffee</p>
        </div>
    </div>
    <div class="row container">
        <div class="col l4 m4 s12 center-align">
            <i class="fas fa-lightbulb z-depth-2"></i>
            <p>Adjustable lighting to suite<br> your creative mood</p>
        </div>
        <div class="col l4 m4 s12 center-align">
            <i class="fas fa-user-friends z-depth-2"></i>
            <p>Friendly staff to help you get<br> the most out of your session</p>
        </div>
        <div class="col l4 m4 s12 center-align">
            <i class="fas fa-theater-masks z-depth-2"></i>
            <p>Artist development and local<br> showcase events</p>
        </div>
    </div>
</div>

{% endblock %}