{% extends "base.html" %}
{% block content %}

<div class="container">
    <h4 class="black-text center align">Notice Board</h4>
    <div class="divider"></div>

    <h5 class="center-align">Welcome to our community Notice Board!</h5>
    <p class="center-align">If you'd like to post something then you'll need to make a user account through our <a
            href="#modal1" class="modal-trigger">Registration Form</a></p>
    <p class="center-align">Once you've signed up you'll see a new link appear above the notice board. Follow the link
        and
        fill in the form with as much detail as possible</p>
    <p class="center-align">You'll also be able to delete your post if you've either sold your posted item or found
        what/who
        you're looking for!</p>
</div>

{% endblock %}