{% extends "base.html" %}
{% block nav_nb %}active{% endblock %}
{% block nav_nb_mobile %}active{% endblock %}
{% block content %}

<div class="container">
    <h4 class="black-text center align">Notice Board</h4>
    <div class="divider"></div>

    <h5 class="center-align">Welcome to our community Notice Board!</h5>
    <p class="center-align">If you'd like to post something then you'll need to make a user account through our <a
            href="#modal1" class="modal-trigger">Registration Form</a></p>
    <p class="center-align">Once you've signed up you'll see a new link appear above the notice board. Follow the link
        and
        fill in the form with as much detail as possible</p>
    <p class="center-align">You'll also be able to delete your post if you've either sold your posted item or found
        what/who
        you're looking for!</p>
</div>


{% if posts|length > 0 %}



<div class="container">

    <ul class="collection">
        {% for post in posts %}

        <!-- Delete Post Modal -->
        <div id="delete-post-modal" class="modal">
            <div class="modal-content">
                <h6>Are you sure you want to delete your post?</h6>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('delete_post', post_id=post._id)}}"><i class="fas btn-small red fa-trash-alt" title="Delete"></i></a>
                <a href="#!" class="modal-close"><i class="fas btn-small fa-times-circle" title="Cancel"></i></a>
            </div>
        </div>

        <li class="collection-item avatar">
            {% if post.category == 'for-sale' %}
            <i class="fas fa-pound-sign circle"></i>
            {% elif post.category == 'jobs' %}
            <i class="fas fa-briefcase circle"></i>
            {% else %}
            <i class="fas fa-users circle"></i>
            {% endif %}
            <span class="title">{{ post.post_title }}</span><br><span class="user-post">Posted by:
                {{ post.created_by|capitalize }}</span><br><span class="user-post">Date:
                {{ post.date_posted.strftime('%d %b %Y') }}</span>
            {% if post.is_urgent == "on" %}
            <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped" data-position="right"
                data-tooltip="URGENT!"></i>
            {% endif %}
            <p>{{  post.post_message }}</p>
            <a class="btn-floating btn waves-effect waves-light secondary-content" href="mailto:{{ post.email }}"><i
                    class="fas fa-envelope"></i></a>
            {% if session.user|lower == post.created_by|lower %}
            <a href="{{ url_for('edit_post', post_id=post._id)}}"><i class="fas btn-small fa-edit" title="Edit"></i></a>
            <a href="#delete-post-modal" class="modal-trigger"><i class="fas btn-small fa-trash-alt"
                    title="Delete"></i></a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h5 class="red-text text-darken-4 center align">No Posts Found</h5>
</div>

{% endif %}

<div class="container">
    <div class="row center-align">
        <div class="pagination">
            <a href="{{ url_for('prev_page', current_page=current_page) }}"><i
                    class="fas fa-chevron-left z-depth-1"></i></a>
            <p>{{ current_page }} of {{ number_of_pages }}</p>
            <a href="{{ url_for('next_page', current_page=current_page, number_of_pages=number_of_pages) }}"><i
                    class="fas fa-chevron-right z-depth-1"></i></a>
        </div>
    </div>
</div>

{% endblock %}