{% extends "base.html" %}
{% block nav_nb %}active{% endblock %}
{% block nav_nb_mobile %}active{% endblock %}
{% block content %}

<!-- Notice Board page -->

<div class="container">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <h4 class="black-text center align" id="notice-board">Notice Board</h4>
            <div class="divider"></div>

            <h5 class="center-align">Welcome to our community Notice Board!</h5>
            <!-- Notice Board blurb that changes if logged in -->
            {% if session.user %}
            <p class="center-align">
                Here you will find all the latest posts from our extended community.
                If you have any items for sale or want to post a job or community event then get involved!
                We're always looking for more ways to grow our network and we've helped many bands/artists get local
                shows
                to promote
                releases.
                From time to time we will post under the Admin username if we're hosting events or workshops, so be sure
                to check in regularly for updates!
            </p>
            {% else %}
            <p class="center-align">
                If you'd like to post something then you'll need to make a user account through our <a href="#modal1"
                    class="modal-trigger">Registration Form.</a> Once you've signed up you'll see a
                new user dropdown appear in the navbar. Here you will be able to
                add a post from the link in the menu which will be added to the notice board!
            </p>
            <p class="center-align">If you'd like to update your post you'll be able to
                do so using the edit and delete icons at the bottom of your post.</p>
            {% endif %}
        </div>
    </div>
</div>

{% if posts|length > 0 %}

<div class="container">
    <ul class="collection">
        {% for post in posts %}

        <!-- Delete Post Modal -->
        <div id="delete-post-modal" class="modal">
            <div class="modal-content">
                <h6>Are you sure you want to delete your post?</h6>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('delete_post', post_id=post._id)}}"><i class="fas btn-small red fa-trash-alt"
                        title="Delete"></i></a>
                <a href="#!" class="modal-close"><i class="fas btn-small fa-times-circle" title="Cancel"></i></a>
            </div>
        </div>
        <!-- Post collection loop -->
        <li class="collection-item avatar">
            {% if post.category == 'for-sale' %}
            <i class="fas fa-pound-sign circle"></i>
            {% elif post.category == 'jobs' %}
            <i class="fas fa-briefcase circle"></i>
            {% else %}
            <i class="fas fa-users circle"></i>
            {% endif %}
            <span class="title">{{ post.post_title }}</span><br><span class="user-post">Posted by:
                {{ post.created_by|capitalize }}</span><br><span class="user-post">Date:
                {{ post.date_posted.strftime('%d %b %Y') }}</span>
            {% if post.is_urgent == "on" %}
            <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped" data-position="right"
                data-tooltip="URGENT!"></i>
            {% endif %}
            <p>{{  post.post_message }}</p>
            <a class="btn-floating btn waves-effect waves-light secondary-content" href="mailto:{{ post.email }}"><i
                    class="fas fa-envelope"></i></a>
            {% if session.user|lower == post.created_by|lower %}
            <a href="{{ url_for('edit_post', post_id=post._id)}}"><i class="fas btn-small fa-edit" title="Edit"></i></a>
            <a href="#delete-post-modal" class="modal-trigger"><i class="fas btn-small fa-trash-alt"
                    title="Delete"></i></a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <!-- Red error title if there are no posts -->
    {% else %}
    <h5 class="red-text text-darken-4 center align">No Posts Found</h5>
</div>

{% endif %}

<!-- Pagination -->
<div class="container">
    <div class="row center-align">
        <div class="pagination">
            <a href="{{ url_for('prev_page', current_page=current_page, _anchor='notice-board') }}"><i
                    class="fas fa-chevron-left z-depth-1"></i></a>
            <p>{{ current_page }} of {{ number_of_pages }}</p>
            <a
                href="{{ url_for('next_page', current_page=current_page, number_of_pages=number_of_pages, _anchor='notice-board') }}"><i
                    class="fas fa-chevron-right z-depth-1"></i></a>
        </div>
    </div>
</div>

{% endblock %}