{% extends "base.html" %}
{% block nav_rs %}active{% endblock %}
{% block nav_rs_mobile %}active{% endblock %}
{% block content %}

<h4 class="black-text center align">Rehearsal Studios</h4>
<div class="divider"></div>

<div class="container">
    <div class="row center">
        <p>If you would like to make a booking in one of our studios then head over to our 
            <a href="#modal1" class="modal-trigger">Registration Form</a>.<br>
            Create an account and then head over to the bookings tab in your user options!<br>
            Any bookings you make will be viewable on your profile page and don't forget to check out<br>
        our <a href="{{ url_for('notice_board') }}">Notice Board</a> for local events, gear for sale and job listings.</p>
    </div>
</div>

<div class="container">
    <div id="studio1" class="modal">
        <div class="modal-content">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-059.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-081.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-054.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-067.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-091.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-065.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-068.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-070.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-072.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-074.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-075.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-076.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-078.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-079.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-083.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-087.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-060.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-093.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-094.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-095.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-0105.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-050.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-053.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-064.jpg') }}">
                    </li>
                </ul>
                <span class="image-nav bottom"><i class="fas fa-chevron-left left left-arrow"></i></span>
                <span class="image-nav bottom"><i class="fas fa-chevron-right right right-arrow"></i></span>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <div id="studio2" class="modal">
        <div class="modal-content">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-038.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-08.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-047.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-012.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-014.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-016.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-025.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-028.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-029.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-031.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-035.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-041.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-042.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-048.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-049.jpg') }}">
                    </li>
                </ul>
                <span class="image-nav bottom"><i class="fas fa-chevron-left left left-arrow"></i></span>
                <span class="image-nav bottom"><i class="fas fa-chevron-right right right-arrow"></i></span>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <div id="studio3" class="modal">
        <div class="modal-content">

            <div class="slider">

                <ul class="slides">

                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-0124.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-0125.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-0121.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-0119.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-0107.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-0109.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-0110.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-0114.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-0116.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/headroom-studios-0117.jpg') }}">
                    </li>
                </ul>
                <span class="image-nav bottom"><i class="fas fa-chevron-left left left-arrow"></i></span>
                <span class="image-nav bottom"><i class="fas fa-chevron-right right right-arrow"></i></span>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>


    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='img/headroom-studios-059.jpg') }}">
                    <span class="card-title">Studio 1</span>
                </div>
                <div class="card-content">
                    <p>
                        Studio One is a very large room with great acoustics. Perfect for a larger band
                        looking for somewhere to let loose. This is by far our most popular room!
                        The hourly rate for this studio is <span class="price">£15</span>
                    </p>
                </div>
                <div class="card-action">
                    <a class="modal-trigger" href="#studio1">More Images</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='img/headroom-studios-038.jpg') }}">
                    <span class="card-title">Studio 2</span>
                </div>
                <div class="card-content">
                    <p>
                        Studio two has a different decor and all of our slightly heavier sounding regulars love it!
                        The room has a tight sound but still has ample space for comfort. The hourly rate for this studio
                        is <span class="price">£10</span>
                    </p>
                </div>
                <div class="card-action">
                    <a class="modal-trigger" href="#studio2">More Images</a>
                </div>
            </div>
        </div>



        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='img/headroom-studios-0124.jpg') }}">
                    <span class="card-title">Studio 3</span>
                </div>
                <div class="card-content">
                    <p>
                        Studio 3 give you access to our control room making it ideal for multitracking
                        your sessions for socials.
                        It's slightly smaller in size but has a big sound.
                        The hourly rate for this studio is <span class="price">£10</span>
                    </p>
                </div>
                <div class="card-action">
                    <a class="modal-trigger" href="#studio3">More Images</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col s12 center-align space">
    {% if session.user %}
    <a class="btn-small waves-effect waves-light" href="{{ url_for('bookings') }}" type="submit" name="action">Make a
        booking<i class="fas fa-calendar-alt right "></i>
    </a>
    {% else %}
    <a class="btn-small waves-effect waves-light" href="{{ url_for('login', today=today) }}" type="submit" name="action">Make a booking<i
            class="fas fa-calendar-alt right "></i>
    </a>
    {% endif %}
</div>

{% endblock %}